html {
    background-color: black;
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(163, 142, 184);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 16px;
    height: 100vh;
    margin: 0 auto;
    padding: 2rem;
    width: 80vw;
}

h1 {
    text-align: center;
}

h2 {
    margin-top: 5rem;
}

form {
    margin: 2rem;
}

.dice-select {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
}

.dice-select__dice {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    height: 10vh;
    justify-content: space-around;
}

.roll-btn {
    align-self: center;
    font-size: 2rem;
    height: 40px;
    width: 120px;
}

.side-select-menu {
    width: 60px;
}

.dice-roll {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 2rem;
}

.dice {
    height: 60px;
    width: 60px;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    border: 1px solid black;
    font-size: 24px;
    line-height: 60px;
}

button {
    font-family: Impact,
        Haettenschweiler,
        'Arial Narrow Bold',
        sans-serif;
    letter-spacing: 0.2rem;
    padding: 0 1rem;
}